include head
    title ChargeMove List

    link(rel="stylesheet", href="../css/pokemon.css")

    body
        include headbar
        div.container
            div.page-header
                h1 Charge Move List
                h2.text-info 主要技能總表
            div.table-contain
                include charge_index_template
