nav(class="navbar navbar-default" role="navigation")
    div.container-fluid
        div.navbar-header
            a(class="navbar-brand" href="/") Pokemon DataBase
        ul(class="nav navbar-nav")
            li
                a(href="/") Home
            li
                a(href="/caculator.html") CP計算器
