nav(class="navbar navbar-default" role="navigation")
    div.container-fluid
        div.navbar-header
            a(class="navbar-brand" href="/") Pokemon DB
        ul(class="nav navbar-nav")
            li
                a(href="/") Home
