include head
    title QuickMove List

    link(rel="stylesheet", href="../css/pokemon.css")

    body
        include headbar
        div.container
            div.page-header
                h1 Quick Move List
                h2.text-info 快速技能總表
            div.table-contain
                include quick_index_template
